<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Smart University | Bootstrap Responsive Admin Template</title>
    <!-- google font -->
    <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all' %}" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link rel="stylesheet" href="{% static '../static/plugins/iconic/css/material-design-iconic-font.min.css' %}">
    <!-- bootstrap -->
    <link href="{% static '../static/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="{% static '../static/css/theme/light/theme_style.css' %}" rel="stylesheet" id="rt_style_components" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="{% static '../static/css/pages/login.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static '../static/img/favicon.ico' %}" />
</head>

<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
                </div>
                {% endfor %}

                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" action="signup" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="">
                                    <input name="uname" type="text" placeholder="Username" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input name="fname" type="text" placeholder="Your Name" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input name="email" type="email" placeholder="Your Email" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input name="pwd" type="password" placeholder="Password" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input name="re-pwd" type="password" placeholder="Repeat Password" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
									statements in <a href="sign_up.html#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <button class="btn btn-round btn-primary" name="signup" id="register">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static '../static/img/pages/signup.jpg' %}" alt="sing up image"></figure>
                        <a href={% url 'Login' %} class=" signup-image-link ">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- start js include path -->
    <script src="{% static '../static/plugins/jquery/jquery.min.js' %} "></script>
    <!-- bootstrap -->
    <script src="{% static '../static/plugins/bootstrap/js/bootstrap.min.js' %} "></script>
    <!-- end js include path -->
</body>

</html>